<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net45" userInstalled="true" />
  <package id="dotless" version="1.4.4" targetFramework="net45" userInstalled="true" />
  <package id="Jint" version="2.4.0" targetFramework="net45" userInstalled="true" />
  <package id="Nancy" version="1.1" targetFramework="net45" />
  <package id="NSass.Core" version="0.0.3.0" targetFramework="net45" userInstalled="true" />
</packages>